extends layout

block content
    body
      div#language
        a(href='/fr')
            div.overimg Mon portfolio
            img#fr(src='/images/fr.jpg', width='300', height='150', alt='Fr')
        a(href='/en')
            div.overimg My portfolio
            img#en(src='/images/en.jpg', width='300', height='149', alt='En')
      footer
        p &copy; BERRY Yanis - Portfolio - Tous Droits Réservés
      script(type='text/javascript', src='/javascripts/jquery.js')
      script(type='text/javascript', src='/javascripts/bootstrap.min.js')