doctype html
html(lang= lang)
  head
    meta(charset='UTF-8')
    title Yanis BERRY - Portfolio
    meta(name='viewport', content='width=device-width, initiale-scale=1.0')
    meta(name='description', content='Portfolio Yanis BERRY')
    meta(name='keywords', content='portfolio,Yanis,Berry,iut,src,angouleme,services,reseaux,communication,html,css,javascript,jquery,php,sql,infographie,web,design,adobe,photoshop,illustrator,premiere pro,final cut,after effects,cinema 4d,jeux,video,unity,unreal,engine,c#,c++,maths')
    meta(name='author', content='Yanis BERRY')
    each style in styles
        link(rel='stylesheet', type='text/css', href= style, media='screen')

  block content