doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    title Yanis BERRY - Portfolio
    meta(name='viewport', content='width=device-width, initiale-scale=1.0')
    meta(name='description', content='Portfolio Yanis BERRY')
    meta(name='keywords', content='portfolio,Yanis,Berry,iut,src,angouleme,services,reseaux,communication,html,css,javascript,jquery,php,infographie,web,design,adobe,photoshop,illustrator,premiere pro,final cut,after effects,dreamweaver,cinema 4d,3ds max')
    meta(name='author', content='Yanis BERRY')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-responsive.min.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style_' + style + '.css', media='screen')
  block content