@font-face {
    font-family: 'DenkOne-Regular';
    src: url('DenkOne-Regular.eot');
    src: url('DenkOne-Regular.eot?#iefix') format('embedded-opentype'), url('DenkOne-Regular.woff') format('woff'), url('DenkOne-Regular.ttf') format('truetype'), url('DenkOne-Regular.svg#DenkOne-Regular') format('svg');
}

@font-face {
    font-family: 'Marcellus-Regular';
    src: url('Marcellus-Regular.eot');
    src: url('Marcellus-Regular.eot?#iefix') format('embedded-opentype'), url('Marcellus-Regular.woff') format('woff'), url('Marcellus-Regular.ttf') format('truetype'), url('Marcellus-Regular.svg#Marcellus-Regular') format('svg');
}

@font-face {
    font-family: 'Frijole';
    src: url('Frijole-Regular.eot');
    src: url('Frijole-Regular.eot?#iefix') format('embedded-opentype'), url('Frijole-Regular.woff') format('woff'), url('Frijole-Regular.ttf') format('truetype'), url('Frijole-Regular.svg#Frijole') format('svg');
}

body {
    font-family: 'Marcellus-Regular', sans-serif;
    background: url(../images/fond_contact.jpg) center 0 no-repeat fixed;
    background-size: cover;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
    outline: none;
}

#language {
    color: white;
    font-family: 'DenkOne-Regular', sans-serif;
    width: 80%;
    height: 80%;
}

    #language a {
        display: inline-block;
        margin: 10% 50%;
        width: 300px;
    }

#fr, #en {
    margin: 30px auto;
    display: block;
    box-shadow: 5px 5px 5px black;
    z-index: 1;
}

div.overimg {
    position: absolute;
    float: left;
    margin: 30px auto;
    width: 300px;
    height: 150px;
    background-color: rgba(0,0,0,0);
    color: rgba(255,255,255,0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    font-size: 30px;
}

    div.overimg:hover {
        background-color: rgba(0,0,0,0.7);
        color: rgba(255,255,255,1);
    }

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px 3px white;
    color: black
}
